body{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background: black;
}

main{
    padding: 50px;
    background:darkturquoise;
}


.row{
    padding: 10px;
    background: white;
}

h1,h2{
    margin: 20px;
    padding: 10px;
    font-family: cursive;
    font-weight: bolder;
    color: darkturquoise;
    background: orangered;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
    color:white;
}



#bt_prec,#bt_suiv {
    margin-top: 20px;
    width:200px;
    height:50px;
    background: chartreuse;
    font-family: "DejaVu Sans Condensed";
    font-size: 20px ;
    color: orangered;
    font-weight: bold;
}

#bt_prec{
    margin-right: 50px;
}
#bt_suiv{
    margin-left: 50px;
}

#prop_1,#prop_2,#prop_3,#prop_4{
    width:70%;
    height:50px;
    margin: 20px;
    padding: 10px;
    background: chartreuse;
}


